# create bar plot from a DataFrame

Problem statement:
Write a Python program to create bar plot from a DataFrame.

In [9]:
#importing matplotlib and panadas
import matplotlib.pyplot as plt
import pandas as pd
#sample data given in question
data = [['a','b','c','d','e'],[4,8,5,7,6],[2,3,4,2,6],[4,7,4,7,8],[2,6,4,8,6],[2,4,3,3,2]]
my_dataframe = pd.DataFrame(data,x)
my_dataframe

   0  1  2  3  4
a  4  8  5  7  6
b  2  3  4  2  6
c  4  7  4  7  8
d  2  6  4  8  6
e  2  4  3  3  2