# program to add, subtract, multiple and divide two Pandas Series

In [1]:
#importing panda module
import pandas as pd
#generating series data structure of panda
my_series_one = pd.Series([2, 4, 6, 8, 10])
my_series_two = pd.Series([1, 3, 5, 7, 9])

In [3]:
#adding both series
add_series=my_series_one+my_series_two
#displaying the output
add_series

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [4]:
#substracting both series
sub_series=my_series_one-my_series_two
#displaying the output
sub_series

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [5]:
#multiplying both series
mul_series=my_series_one*my_series_two
#displaying the output
mul_series

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [6]:
#dividing both series
div_series=my_series_one/my_series_two
#displaying the output
div_series

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64