## program to calculate the mean score for each different student in DataFrame.

In [1]:
#importing panda module
import pandas as pd
#importing numpy
import numpy as np
#initializing a dictionary
exam_data = {'name':['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
#creating data frame object from given dictionary data
my_data_frame=pd.DataFrame(exam_data,labels)
#displaying that dataframe object
my_data_frame

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [30]:
#getting all the scores data
scores=my_data_frame['score']
#getting all the attempts data
attempts = my_data_frame['attempts']
#finding mean
mean_score = scores/attempts
#displaying mean score
mean_score

a    12.500000
b     3.000000
c     8.250000
d          NaN
e     4.500000
f     6.666667
g    14.500000
h          NaN
i     4.000000
j    19.000000
dtype: float64